<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>

    <body>
        <div class="image">
            <img src="https://i.pinimg.com/originals/40/aa/62/40aa62e001985aa6981b2386b602cd0c.jpg" class="img" />
        </div>
    </body>

</html>